<h1>{{ entry.title }}</h1>

<article>
  {{ entry.html_content | safe }}
</article>

<hr />

<footer>
  <p>
  You are receiving this because you are subscribed to {{ newsletter.title }}.
  To unsubscribe, please click unsubscribe:
  </p>

  <p><a class="btn" href="{% url 'newsletter_unsubscribe_request' newsletter.slug %}">Unsubscribe</a></p>

  <p>You can also manage your email options here:</p>
  <p><a class="btn" href='{% url "newsletter_update_request" newsletter.slug %}'}>Manage Options</a></p>

  <p>If you cannot unsubscribe by clicking the button, please go to the following URL:</p>

  <a class="btn" href="{% url 'newsletter_unsubscribe_request' newsletter.slug %}">{% url 'newsletter_unsubscribe_request' newsletter.slug %}</a>
</footer>
